
<article class="single-listing">
        <div class="title">
            <p>{{title}}</p>
            <div class="meta">
            Posted by {{firstName}} {{handyman.lastName}} on {{format_date created_at}}
            </div>
        </div>

        <div class = "listing-text">
            <p>{{post_content}}</p>
        </div>
</article>