            </ul>
        </nav>
</header>

<article class="single-listing">
        <div class="title">
            <p>{{newListings.title}}</p>
            <div class="meta">
            Posted by {{newListings.Handyman.firstName}} {{newListings.Handyman.lastName}} on {{format_date newListings.created_at}}
            </div>
        </div>

        <div class = "listing-text">
            <p>{{newListings.post_content}}</p>
        </div>
</article>